<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
  </head>
  <body >
    <h1>Home</h1>
    <img src="/api/image?url=https://upload.wikimedia.org/wikipedia/commons/6/6a/Emoji_u1f4a9.svg" />
    <p>Welcome home  <%= user.username %>!</p>
  </body>
</html>
